body{
    background-color: white;
}

.menu{
    position: sticky;
    display: inline-block;
    background-color: #333;
    width: 100%;
    top: 0;
}

.menu u{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li{
    float:left;
    list-style: none;
    
}

.menu li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.intro{
    padding:5%;
    background-color: white;
    border: solid;
    margin-bottom: 1%;
    text-align: center;
}

#left{
    float: left;
    width: 300px;
    border: solid;
}

#right{
    float: right;
    width: 300px;
    border: solid;
}

#center{
    margin: 0 auto;
    width: 300px;
    border: solid;
}

.projects, .resources, .contact{
    border: solid;
    text-align: center;
}

.footer-section{
    background-color: grey;
    
    text-decoration: none;
    padding-bottom: 5%;
}

.footer-section a{
    padding: 14px 16px;
    text-align: center;
}

.social-media li{
    float: left;
    list-style: none;
}
